################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/src/Opux/bin/Debug/netcoreapp2.0/logs
/src/Opux/obj
/src/Opux/bin
/.vs
/src/Opux/Opux.csproj.user
.vscode/launch.json
.vscode/tasks.json
src/Opux/settings.json
