<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <clear />
    <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="myget" value="https://www.myget.org/F/discord-net/api/v3/index.json" />
    <add key="MyGet Jimmy06" value="https://www.myget.org/F/jimmy06/api/v3/index.json" />
    </packageSources>
  <disabledPackageSources />
</configuration>